/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('image/neko.JPG');
    background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}
body.about-bg{
	background-image:url('image/heart.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.clover-bg{
	background-image:url('image/panda.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.dia-bg{
	background-image:url('image/tiger.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.star-bg{
	background-image:url('image/hari.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.maru-bg{
	background-image:url('image/fox.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.sankaku-bg{
	background-image:url('image/urf.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.batsu-bg{
	background-image:url('image/lion.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.spade-bg{
	background-image:url('image/wasi.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

body.sikaku-bg{
	background-image:url('image/rabit.png');
	background-size: cover; /* 画像をカバーするようにリサイズ */
    background-position: center; /* 画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-attachment: fixed; /* 背景画像を固定 */
}

nav {
    background-color: #333;
    padding: 25px; /* ナビゲーションバーのパディングを増やす */
    position: relative;
    text-align: right; /* メニューバーを右揃え */
}

.toggle {
    color: white;
    font-size: 32px; /* フォントサイズを大きくする */
    cursor: pointer;
    display: inline-block;
    padding: 0px; /* ボタンのパディングを増やす */
}
/*
.toggle.open {
    background-color: #4CAF50; /* メニューボタンの背景色を変更 */
    /* その他のスタイルは既存のものを適用 */
/*    cursor: pointer;
    display: inline-block;
    padding: 17px;
}

.toggle.close {
    background-color: #4CAF50; /* メニューボタンの背景色を変更 */
    /* その他のスタイルは既存のものを適用 */
 /*   cursor: pointer;
    display: inline-block;
    padding: 17px;
}
*/

.logo{
	display: flex;
    align-items: center;
    color: white;
	flex-direction: column;
    position: absolute;
    top: 28px;
    left: 10px; 
    text-decoration: none;
    font-size: 28px;
	cursor: pointer;
	display: inline-block;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* 初期状態でメニューを非表示 */
    flex-direction: column;
    position: absolute;
    top: 60px; /* メニューの表示位置を調整 */
    right: 10px; /* メニューを右側に配置 */
    background-color: #333;
    border: 1px solid #575757;
    width: 250px; /* メニューの幅を広くする */
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu li a {
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    padding: 20px; /* メニュー項目のパディングを増やす */
    text-decoration: none;
    font-size: 18px; /* メニュー項目のフォントサイズを大きくする */
}

.menu li a:hover {
    background-color: #575757;
}

.menu-icon {
    margin-right: 12px; /* アイコンとテキストの間に余白を追加 */
    font-size: 24px; /* アイコンのサイズを大きくする */
}

.icon-ba {
    font-size: 40px;
}
